@font-face {
    font-family: 'DIN';
    src: url('/fonts/din-next-w02-light.woff2') format('woff2');
}
body {
    font-family: 'DIN', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}
nav {
    width: 900px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 14px;
    padding: 20px 0;
    position: relative;
    border-bottom: 2px solid #ddd;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}
nav a.active, nav a:hover {
    color: #b30045;
}
nav a::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: gray;
    visibility: hidden;
}
nav a:hover::before, nav a.active::before {
    visibility: visible;
}
.container {
    max-width: 900px;
    margin-top: 40px;
}
.gallery-section {
    margin-bottom: 40px;
}
.gallery-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.more-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #b30045;
    text-decoration: none;
}
.carousel-container {
    position: relative;
    width: 350px;
    height: 400px;
    overflow: hidden;
}
.carousel img {
    width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
}
.carousel img.active {
    opacity: 1;
    position: relative;
}
.text-content {
    margin-left: 40px;
    max-width: 450px;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}
.text-content a {
    color: #ff0077;
    text-decoration: none;
}
.container {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40px;
}
